@font-face {
  font-family: 'Pretendard';
  src: url(/src/fonts/woff-subset/Pretendard-Regular.subset.woff) format('woff'); /* 수정된 경로 */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard';
}

code {
  font-family: 'Pretendard';
  /*, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace*/
}

p {
  font-family: 'Pretendard';
}

label {
  font-family: 'Pretendard';
}

.setBackground {
  background-color: black;
}
